body{
    background-color: black;
}
.header{
    width:100%;
}
.header ul{
    text-align: center;
}
.header ul li{
    list-style: none;
    display: inline-block;
}
.header ul li a{

    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 25px;
    transition: all ease 0.5s;
}
.header ul li a:hover{
    background-color: lightpink;
}